<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block collapse">
    <div class="position-sticky pt-3">
    <div class="row">    
        <h5 class="px-3">Settings</h5>
    </div>
    <div class="column">
        <a class="btn w-100 text-left" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">
        Drawers
        </a>
        <div class="collapse" id="submenu1">
        <ul class="btn-toggle-nav list-unstyled px-3">
            <li><a href="#" class="btn nav-link">House</a></li>
            <li><a href="#" class="btn nav-link">Manhattan Project</a></li>
        </ul>
        </div>
        <a class="btn w-100 text-left" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">
        Lists
        </a>
        <div class="collapse" id="submenu1">
        <ul class="btn-toggle-nav list-unstyled px-3">
            <li><a href="#" class="btn nav-link">Groceries</a></li>
            <li><a href="#" class="btn nav-link">Reactor Assembly</a></li>
        </ul>
        </div>

        <a class="btn w-100 text-left" href="#">
        Analytics
        </a>
    </div>
    </div>
</nav>