    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block">
      <div class="position-sticky pt-3">
        <div class="row">
          <h5 class="px-3 mb-3">Settings</h5>
        </div>
        <div class="d-flex flex-column">
          <a class="btn w-100 text-left" data-bs-toggle="collapse" href="#submenuDrawers" role="button" aria-expanded="false" aria-controls="submenuDrawers">
            Drawers
          </a>
          <div class="collapse" id="submenuDrawers">
            <ul class="btn-toggle-nav list-unstyled">
              <li><a href="#" class="nav-link">House</a></li>
              <li><a href="#" class="nav-link">Manhattan Project</a></li>
            </ul>
          </div>

          <a class="btn w-100 text-left" data-bs-toggle="collapse" href="#submenuLists" role="button" aria-expanded="false" aria-controls="submenuLists">
            Lists
          </a>
          <div class="collapse" id="submenuLists">
            <ul class="btn-toggle-nav list-unstyled">
              <li><a href="#" class="nav-link">Groceries</a></li>
              <li><a href="#" class="nav-link">Reactor Assembly</a></li>
            </ul>
          </div>

          <a class="btn w-100 text-left" href="#">Analytics</a>
        </div>
      </div>
    </nav>