html {
  height: 100%;
  background-color: white;
  font-family: 'helvetica neue';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: transparent;
}

h1 {
  color: #000000;
  padding: 10px;
}

nav .btn:hover {
  background-color: #AF0404 !important;
  color: white !important;
}

nav .btn:focus {
  box-shadow: none;
  outline: none;
  border-color: none;
}

.form-control::placeholder {
  color: #212529;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: inherit;
}

#sidebarMenu {
  border: none;
  background-color: white;
  box-shadow: 0px 0px 1px 1px #111111;
}

main {
  background-color: transparent;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 3px 5px 5px 2px #111111;
}

.box form button, .modal .btn {
  background-color: #3B060A;
  color: white;
  border: none;
}

#heading {
  background-color: white;
  box-shadow: 3px 5px 5px 1px #111111;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #AF0404;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #AF0404;
}

input[type="checkbox"] {
  accent-color: #AF0404;
  margin: 20px;
}

#login-form {
  padding: 0 50px;
}

.box h2 {
  padding: 30px 0 30px 50px;
}

#login-form button {
  width: 100%;
}

#login-form button:hover, .modal .btn:hover {
  background-color: #AF0404;
  color: white;
}

.box p {
  font-size: 1rem;
  padding-left: 50px;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: black;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.list-btn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3B060A;
  color: white;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

#login-form .form-group input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #3B060A;
  width: 100%;
}

form.item input[type="text"] {
  color: black;
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

form.item input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 #000000;
}

#login-form .form-group input[type="text"].form-control:focus,
#login-form .form-group input[type="password"].form-control:focus {
  outline: none;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid #3B060A;
  background-color: transparent;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

#register-btn {
  color: #3B060A;
}

#register-btn:hover {
  color: #AF0404;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

footer {
  background-color: transparent;
  width: 100%;
  text-align: center;
  color: black;
  padding: 60px 0;
}